/* src/styles/Auth.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; 
}

.auth-container {
  background-color: #F8E8BA; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.brand-title {
  position: absolute;
  top: 40px;
  left: 60px;
  font-weight: 500;
  font-family: Preahvihear;
  font-size: 18px;
  color: #000;
}

.auth-card {
  background: white;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.auth-title {
  font-size: 32px;
  font-family: Poppins;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.input-field {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #7FAAE3; 
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box; 
  outline: none;
}

.input-field:focus {
  border-color: #2F80ED;
}

.forgot-password {
  display: block;
  text-align: right;
  color: #E65100; 
  font-size: 12px;
  margin-top: 5px;
  text-decoration: none;
}

.auth-btn {
  width: 100%;
  padding: 15px;
  background-color: #F28C00;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
}

.auth-btn:hover {
  background-color: #D67A00;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #aaa;
  font-size: 12px;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #eee; 
  border-radius: 50%;
}

.switch-auth {
  text-align: center;
  font-size: 13px;
  color: #666;
}

.switch-auth a {
  color: #F28C00;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}